#version: '3.8'  #最新版本 顶行命令 obsolete

x-airflow-common:
  &airflow-common
  #image: your-account-id.dkr.ecr.eu-west-1.amazonaws.com/airflow:latest
  # 或者一开始先用官方镜像测试：
  image: apache/airflow:2.10.2-python3.12
  env_file:
    - .env
  environment:
    &airflow-common-env
    AIRFLOW__CORE__EXECUTOR: LocalExecutor
    AIRFLOW__CORE__DAGS_ARE_PAUSED_AT_CREATION: "false"
    AIRFLOW__CORE__LOAD_EXAMPLES: "false"
    AIRFLOW__CORE__FERNET_KEY: ${FERNET_KEY}
    AIRFLOW__WEBSERVER__RBAC: "true"
    AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@postgres:5432/airflow
    AIRFLOW__CORE__DAGS_FOLDER: /opt/airflow/dags
    
  volumes:
    - ./dags:/opt/airflow/dags
    - ./logs:/opt/airflow/logs
    - ./plugins:/opt/airflow/plugins
  depends_on:
    - postgres

services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: airflow
      POSTGRES_PASSWORD: airflow
      POSTGRES_DB: airflow
    volumes:
      - postgres-db-volume:/var/lib/postgresql/data
    #不需要port 因为postgres只对内访问不对外暴露

  airflow-webserver:
    <<: *airflow-common
    command: webserver
    restart: always
    ports:
      - "8080:8080"
    volumes:
      - ./dags:/opt/airflow/dags

  airflow-scheduler:
    <<: *airflow-common   
    command: scheduler
    restart: always
    volumes:
      - ./dags:/opt/airflow/dags

  airflow-init:    
    <<: *airflow-common #继承airflow-common所有配置
    command: >  #运行cmd  #如果不用 bash -c，你没办法写 && 链式命令。
      bash -c " 
      airflow db init &&
      airflow users create --username admin --password admin --firstname Admin --lastname User --role Admin --email admin@example.com
      "
    restart: "no"

volumes:
  postgres-db-volume:
